h1 {
  font-size: 200%;
  font-weight: bold;
  color: #3366ff;
}

p {
  font-family: sans-serif;
}

li {
  line-height: 2;
}

body{
  background-color: #ffffcc;
}

img{
  width: 50%;
  height: 50%;
}
